# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Logs
*.log

# Wandb
wandb/ 

# Data
data/ 
preprocessed_data/

# Plots
plots/

# Checkpoints and metrics
checkpoints/
local_metrics/
OLD_local_metrics/

# Personal files
experiment_configs.json
run_experiments.py
process_metrics.py
kge_per_epoch_all_runs.csv
mse_per_epoch_all_runs.csv
test_mse_all_runs.csv
plot_metrics.py
NN.code-workspace

